bind-key o toggle-show-read-feeds        feedlist
bind-key k next-unread                   feedlist
bind-key l open-in-browser               feedlist
bind-key N next                          feedlist
bind-key E prev                          feedlist
bind-key H edit-urls                     feedlist
bind-key n next-feed                     articlelist
bind-key e prev-feed                     articlelist
bind-key o toggle-show-read-feeds        articlelist
bind-key k next-unread                   articlelist
bind-key l open-in-browser               articlelist
bind-key N next                          articlelist
bind-key E prev                          articlelist
bind-key K toggle-article-read           articlelist
bind-key H edit-urls                     articlelist
bind-key L open-in-browser-and-mark-read articlelist
bind-key k next-unread                   article
bind-key h enqueue                       article
bind-key l open-in-browser               article
bind-key N next                          article
bind-key E prev                          article
bind-key K toggle-article-read           article
